* {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
}

.page_wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}

.nav-logo {
  padding-left: 1rem;
  width: 50px;
}

.nav-items {
  display: flex;
}

.nav-items > li {
  padding: 1rem; bn fghvb 
  font-weight: 700;
}

.list-wrapper {
  background-color: antiquewhite;
  padding: 1rem 2rem;
}
