@import url(./fonts.css);

* {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page_wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

.nav {
  display: flex;
  margin-right: auto;
  /*OR    justify-content: space-between; */
  align-items: center;
  background-color: rgb(238, 244, 245);
  color: rgb(122, 161, 206);
}

.nav-logo {
  padding-left: 1rem;
  margin-right: 0.5rem;
  width: 50px;
}

.nav-logo > svg path {
  fill: rgb(218, 208, 199);
}

.nav-logo-container {
  letter-spacing: -0.07em;
  font-weight: 700;
}

.nav-items {
  display: flex;
}

.nav-items > li {
  padding: 1rem;
  font-weight: 700;
}

.list-wrapper {
  background-image: url(./img/react-logo-transparent.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 60%;
  background-position-x: 170%;
  background-color: rgba(4, 2, 12, 0.856);
  color: rgb(221, 230, 238);
  padding: 1rem 2rem;
  filter: hue-rotate(40deg);
}

.list-wrapper > h1 {
  letter-spacing: -0.05em;
}

.list-wrapper > ul {
  padding-left: 1.4rem;
  line-height: 2em;
}

.list-wrapper li::before {
  content: '\2022';
  color: rgb(221, 230, 238);
  font-weight: bolder;
  font-size: 2em;
  display: inline-block;
  width: 1em;
  transform: translateY(4px);
  margin-left: -1em;
}

.new-class {
  width: auto;
}

.mod-class {
  height: auto;
}
